{

	font-family: 'Indie Flower', cursive;

}
 
 h1 {font-family: 'Indie Flower', cursive;}

 li {font-family: 'Indie Flower', cursive;}


h2  {font-family: 'Indie Flower', cursive;}




h2, li, h1 { text-align:center;                }




p  {font-family: 'Indie Flower', cursive;}